body {
    background-color: rgb(216, 229, 194);
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 248, 255);
    padding: 10px;
    display: block;
    width: max-content;
    margin: 5px auto;
}

input {
    width: 80%;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(240, 248, 255);
    padding: 10px;
    display: block;
    width: max-content;
    margin: 5px auto;
}